.customButton {
  font-weight: 500;

  padding: 0.3rem 1rem;

  border-radius: 10px;
  border-color: blue;
  border-width: 1px;
  border-style: solid;

  background-color: transparent;
  color: blue;
  transition: color 150ms ease, background-color 150ms ease;

  &:hover {
    background-color: blue;
    color: white;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .customButton {
    border-color: #D50000;
    color: #D50000;
    transition: color 250ms ease, background-color 250ms ease;

    &:hover {
      background-color: #D50000;
      color: black;
    }
  }
}